rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, list: if request.auth.uid != null;
      allow create, update: if request.auth.uid == userId;
    }

    match /user_details/{userId} {
      allow read, create, update: if request.auth.uid == userId;
    }

    match /mentor_verifications/{userId} {
      allow read, create, update: if request.auth.uid == userId;
    }

    match /mentor_verifications/{userId}/achievements/{achievementId} {
        allow read, create, update, delete: if request.auth.uid == userId;
    }

    match /cities/{cityId} {
      allow read: if request.auth.uid != null;
    }

    match /swipes/{swipeId} {
      // A user can read a swipe doc if their UID is in the doc ID (swiper_swiped).
      // A user can only create a swipe doc if they are the swiper.
      allow read: if request.auth.uid in swipeId.split('_');
      allow create: if request.auth.uid == swipeId.split('_')[0];
      allow update, delete: if false; // Swipes are immutable
    }

    match /matches/{matchId} {
      // A user can interact with a match doc if their UID is in the list of users.
      // A user can only create a match if they are one of the users in the match.
      allow read, update: if request.auth.uid in resource.data.users;
      allow create: if request.auth.uid in request.resource.data.users;
      allow delete: if false; // Matches are immutable
    }
  }
}
